interface freifunk-hl
{
	AdvSendAdvert on;
	IgnoreIfMissing on;
	MaxRtrAdvInterval 200;

{% for prefix in radvd_prefixes %}
	prefix {{ prefix }} {
	};
{% endfor %}

	RDNSS 2001:67c:2d50:1::a82:7fe0 {
	};
};
