# internal ospf

{% if exit_traffic %}
protocol static default4 {
    ipv4 {
        table master4;
    };
    route 0.0.0.0/0 via {{ exit_via | default(ansible_facts['default_ipv4']['gateway']) }};
};
{% endif %}


protocol ospf v3 ospf_ffhl4 {
    ipv4 {
        table master4;
        import where is_default4();
        export where is_default4();
    };

    {% include "bird/ospf_ffhl.conf.j2" %}
};
