area 0 {
    interface "gre_bb*" {
        type broadcast;
        # strict nonbroadcast yes;
        poll 5;
        tx length 1100;
        authentication cryptographic;
        include "../password.conf";
#         neighbors {
#             # all: {{ groups["gateways"] }}
#             # excluding: {{ internal_ospf.exclude_neighbors | default([], true) }}
#
# {% for host in (groups["gateways"] | difference(inventory_hostname) | difference(internal_ospf.exclude_neighbors | default([], true))) %}
#             {{ 'fe80::0' | slaac(hostvars[host]['freifunk_mac']) }} eligible; # {{ host }}
# {% endfor %}
#         };
    };
};
