[NetDev]
Name = vx_{{ item[0].handle }}_{{ "%02d" | format(hostvars[item[1]].gwid) }}
Kind = gretap
MACAddress=de:ad:ca:{{ formatted_gwid }}:01:{{ "%02d" | format(hostvars[item[1]].gwid) }}

[Tunnel]
Key={{ item[0].vni }}

Remote={{ ["10.0.0", hostvars[item[1]].gwid] | join('.') |  ipaddr }}
Local={{ ["10.0.0", gwid] | join('.') |  ipaddr }}
Independent=true
